form#new-post {
  background: inherit;
  padding: nhsuk-spacing(3);
  fieldset.bbp-form {
	border: 0;
	@extend .nhsuk-fieldset;
	legend {
	  @extend .nhsuk-fieldset__legend;
	  @extend .nhsuk-fieldset__legend--l;
	}
	.bbp_editor_topic_content {
	  @extend .nhsuk-textarea;
	}
	.medium-editor-element {
	  &.emojionearea {
		min-height: 1rem;
		border: none;
	  }
	}
	input[type="search"] {
	  @extend .nhsuk-input;
	}
  }

	.medium-editor-toolbar-active {
	  height     : 40px;
	  visibility : visible;

	  .medium-editor-toolbar-actions {
		opacity : 1;
	  }
	}
}
