body.group-admin {
  #buddypress {
	#group-settings-form {
	  .requests {
		#request-list {
		  .request-card {
			margin: 0 nhsuk-spacing(3);
			.single-request {
			  width : 100%;

			  .request-title {
				float : left;

				img.avatar {
				  width  : nhsuk-spacing(5);
				  height : nhsuk-spacing(5);
				}
			  }

			  .action {
				float : right;
				width : auto;
				width : 200px;

				.generic-button {
				  a {
					&.accept {
					  background : $color_nhsuk-green;
					}

					&.reject {
					  background : $color_nhsuk-red;
					}
				  }
				}
			  }

			  .request-content {
				clear : both;

				font-size
				.request-body {
				  .comments {

				  }

				  .activity {
					@extend %nhsuk-body-s;
					color : $color_nhsuk-grey-2;
				  }
				}
			  }

			}
		  }
		}
	  }
	}
  }

  /* Manage Members Custom Styling */
  .bp-manage-group-container {

	.button {
	  @extend .nhsuk-button;
	  @include nhsuk-typography-responsive(16);
	  padding      : nhsuk-spacing(1) nhsuk-spacing(2);
	  float        : left;
	  margin-right : nhsuk-spacing(3);

	  &.confirm {
		@extend .nhsuk-button--reverse;
		padding : nhsuk-spacing(2) nhsuk-spacing(3);

		&.member-ban {
		  visibility: hidden;
		  width: 170px;
		  height: 30px;
		  &:after {
			@extend .nhsuk-button;
			padding      : nhsuk-spacing(1) nhsuk-spacing(2);
			float        : left;
			margin-right : nhsuk-spacing(3);
			visibility: visible;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 170px;
			background-color : $color_nhsuk-red;
			color            : $color_nhsuk-white;
			content          : "Remove & Block";
		  }
		}

		&.member-promote-to-mod {

		}

		&.member-promote-to-admin {
		  @extend .nhsuk-button--secondary;
		  color : $color_nhsuk-white;
		}
	  }
	}
  }
}
